<div class="email-left-box">
	<a href="javascirpt:void(0)" class="btn btn-primary btn-block d-none">Compose</a>
	<div class="mail-list mt-4">
		<a href="javascript:void(0);" class="list-group-item border-0 p-r-0 btn-todo" data-state="0">
			<p style="display:inline;"></p>
			<span class="badge badge-primary badge-sm float-right m-t-5 cnt-todo"></span>
		</a>
		<a href="javascript:void(0);" class="list-group-item border-0 p-r-0 btn-inprogress" data-state="1">
			<p style="display:inline;"></p>
			<span class="badge badge-primary badge-sm float-right m-t-5 cnt-inprogress"></span>
		</a>
		<a href="javascript:void(0);" class="list-group-item border-0 p-r-0 btn-lowpriority" data-state="2">
			<p style="display:inline;"></p>
			<span class="badge badge-primary badge-sm float-right m-t-5 cnt-lowpriority"></span>
		</a>
		<a href="javascript:void(0);" class="list-group-item border-0 p-r-0 btn-all" data-state="-1">
			<p style="display:inline;"></p>
			<span class="badge badge-danger badge-sm float-right m-t-5 cnt-all"></span>
		</a>
		<a href="javascript:void(0);" class="list-group-item border-0 p-r-0 btn-trash" data-state="4">
			<p style="display:inline;"></p>			
		</a>
		<a href="javascript:void(0);" class="list-group-item border-0 p-r-0 btn-spam" data-state="5">
			<p style="display:inline;"></p>			
		</a>
	</div>
	@*<h5 class="mt-5 m-b-10">Categories</h5>
	<div class="list-group mail-list">
	<a href="#" class="list-group-item border-0"><span class="fa fa-briefcase f-s-14 mr-2"></span>Work</a>  <a href="#" class="list-group-item border-0"><span class="fa fa-sellsy f-s-14 mr-2"></span>Private</a>  <a href="#"
	class="list-group-item border-0"><span class="fa fa-ticket f-s-14 mr-2"></span>Support</a>  <a href="#" class="list-group-item border-0"><span class="fa fa-tags f-s-14 mr-2"></span>Social</a>
	</div>*@
</div>